<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	<a class="navbar-brand" href="{{ path('home')}}">Fixed navbar</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarCollapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active"></li>
			<li class="nav-item"></li>
			<li class="nav-item"></li>
		</ul>

		<div class="form-inline ">
			<input type="text" class="form-control mr-2" name="title" placeholder="Recherche...">


			<button type="submit" class="btn btn-secondary mr-2 ">Chercher</button>

		
			{% if app.user %}


				<a href="{{ path('security_logout')}}" class="btn btn-info mr-2 ">Déconnexion</a>

			{% else %}
				
				<a href="{{path('security_register',{user_type:"user"})}}" class="btn btn-info mr-2">Inscription</a>
			
				<a href="{{ path('security_login')}}" class="btn btn-info  ">Connexion</a>
              
			{% endif %}
		</div>

	</div>

</nav>
